<div class="mx-auto px-1 py-3 sm:px-1 max-w-3xl text-center">
  <h1 class="font-bold text-4xl text-red-500">
    OBABA MESHI
  </h1>
  <p>介護食評価サイトです</p>
  <%= link_to 'obaba meshiへ', items_path, class: 'button btn btn-secondary'%>
  <div class="card w-96 bg-base-100 shadow-xl my-3">
    <%= image_tag  @item.image ,size: "250x250", class: "mx-auto"%>
    <div class="card-body items-center text-center">
      <h2 class="card-title">
        <%= @item.name %>
      </h2>
      <button class="btn btn-secondary">
        <%= link_to @item.url do%>
          楽天市場へ
        <% end %>
      </button>
      <h5>食べた感想は?</h5>
      <div class="flex">
        <%= button_to "#", class: "btn btn-warning", method: :post do %>
        happy
        <% end %>
        <%= button_to "#", class: "btn btn-accent", method: :post do %>
        normal
        <% end %>
        <%= button_to "#", class: "btn btn-info", method: :post do %>
        angry
        <% end %>
      </div>
    </div>
  </div>
</div>
